<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Patient Dashboard</title>
</head>
<body>

<div class="account-container">
    <h1>Welcome, {{ user.first_name }} {{ user.last_name }}</h1>
    <h2><a href="{% url 'edit_patient_profile' %}">Edit Profile</a></h2>
    <div class="section-container">
        <h3>Doctor Availability</h3>
    <form method="GET" action="{% url 'patient_calendar' %}">
    <label for="doctor_id">Select Doctor:</label>
    <select name="doctor_id" id="doctor_id" required>
        {% for doctor in doctors %}
            <option value="{{ doctor.id }}">Dr. {{ doctor.user.first_name }} {{ doctor.user.last_name }}</option>
        {% endfor %}
    </select>
    <button type="submit" class="btn btn-primary">View Calendar</button>
</form>
    </div>

    <div class="section-container">
        <!-- Upcoming Appointments -->
    <h3>Upcoming Appointments</h3>
        <a href="{% url 'appointment_booking' %}">book appointment</a>
    <ul>
        {% for appointment in upcoming_appointments %}
            <li>
                Appointment with Dr. {{ appointment.doctor.user.first_name }} {{ appointment.doctor.user.last_name }} on {{ appointment.date }} at {{ appointment.time }}
                <a href="{% url 'edit_appointment' appointment.id %}">Edit</a>
                <a href="{% url 'delete_appointment' appointment.id %}">Delete</a>
            </li>
        {% empty %}
            <li>No upcoming appointments</li>
        {% endfor %}
    </ul>
    </div>

    <a href="{% url 'logout' %}">Logout</a>

</div>

</body>
</html>
